.icon:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.30);
}

.button{
    margin-top: 2%;
}

.buttons-group{
    margin-top: 10%;
}

.card{
margin-top: 30px;
height: 100%;
}

.title{
    font-size: 1cm;
     font-family: 'Roboto Mono', monospace;
     margin-top: 5% ;
}

.card-img-top{
    width:150px; 
    height:250px;
    
}